.header {
  height: 95vh; //95% height of the viewport
  background-image: linear-gradient(to left bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


  @include respond(phone){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    
  }



  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3rem;
    /* animation-name: moverInRight;
    animation-duration:2s ; */
  }

  &__text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: #$color-gray-dark; */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}