body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  // padding: 2rem;

}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;



  &--main1 {
    display: block;

    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 3rem;
    text-align: center;
    animation-name: moverInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--main2 {
    display: block;

    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 3rem;
    text-align: center;
    animation-name: moverInLeft;
    animation-duration: 1s;

    /* animation-timing-function: ease-out; */
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    text-align: center;
    animation-name: moverInRight;
    animation-duration: 2s;

    @include respond(phone) {
      letter-spacing: .5rem;

    }


  }
}


.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  letter-spacing: 2px;

  @include respond (tab-port) {
    font-size: 3rem;
  }

  @include respond (phone) {
    font-size: 2.5rem;
  }
 


  &:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, $alpha: 0.2);
  }
}

.heading-tertairy {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.para {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;



  }

}